<html>
<header>
  {{>header}}
</header>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/index">
          Ride-Share
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        {{#if session.user_id}}
        <li><p class="navbar-text">Welcome <a class="navbar-link" href="/user/{{session.user_id}}">{{session.user_name}}</a></p></li>
        <li><a href="./index/logout">Logout</a></li>

        <!-- ADD ADDITIONAL CONDITION FOR FACEBOOK LOGIN -->
        {{else if session.passport}}
        <li><p class="navbar-text">Welcome <a class="navbar-link" href="/user/{{session.passport.user.id}}">{{session.passport.user.displayName}}</a></p></li>
        <li><a href="./index/logout">Logout</a></li>

        {{else}}
        <li><a href="#">How it works</a></li>
        <li><a href="/index/login">Login</a></li>
        <li><a href="/login/facebook">Login with Facebook</a></li>
        <li><a href="/user/new">Register</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    {{{ body }}}
  </div>
  {{>footer}}
</body>
<footer>
  <a href="#">About  Us</a>
</footer>
</html>
