  <div class="container-fluid" id="index">
    <div class="row">
      <!-- <div class="col-md-12"> -->
    <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/49796-200.png" alt="" />
    <form class="landing-search form-inline" action="/index" method="post">
      <div class="form-group">
        <label for="origin">Origin</label></br>
        <input type="text" name="origin" id="origin" value="{{info.origin}}">
        <!-- {{#if info.error.origin}}
        <small class="text-muted"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>{{info.error.origin}}</small>
        {{/if}} -->
        <label for="destination">Destination</label>
        <input type="text" name="destination" id="destination" value="{{info.destination}}">
        <!-- {{#if info.error.destination}}
        <small class="text-muted"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>{{info.error.destination}}</small>
        {{/if}} -->
        <!-- VY'S ORIGINAL DATE-PICKER CODE -->
        <label for="date">Date</label>
        <input type="date" name="date" value="{{info.date}}">
        <!-- {{#if info.error.date}}
        <small class="text-muted"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>{{info.error.date}}</small>
        {{/if}} -->
        <div class="row">
        {{#if info.error.origin}}
        <small class="text-muted"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>{{info.error.origin}}</small>
        {{/if}}
        {{#if info.error.destination}}
        <small class="text-muted"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>{{info.error.destination}}</small>
        {{/if}}
        {{#if info.error.date}}
        <small class="text-muted"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>{{info.error.date}}</small>
        {{/if}}
        </div>

        <div class="row input-group">
          <!-- <div class="col-md-6"> -->
          <button type="submit" class="btn btn-primary input-group-addon">Find my ride</button>
          <a href="/trip/advanced" class="input-group-addon">Advanced Search</a>
        <!-- </div> -->
      </div>
      </div>
    </form>
  <!-- </div> -->
</div>
    <div class="row" id="all-trips">
      <div class="col-md-3">
    <a href="/trip/search">See all Trips</a>
      </div>
  </div>
    <div class="row articles">
      <div class="col-md-4">
        <h3> <span class="glyphicon glyphicon-road" aria-hidden="true"></span> Need a lift?</h3>
        <p>
          Find a ride and get in touch with a driver with a similar itinerary to yours.
        </p>
      </div>
      <div class="col-md-4">
        <h3> <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> Save big</h3>
        <p>
          Take advantage of extra room in your car and split the cost of gas.
        </p>
      </div>
      <div class="col-md-4">
        <h3> <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> Go green</h3>
        <p>
          Reduce CO2 emissions and share a ride with someone today.
        </p>
      </div>
    </div>




  </div>
