<<<<<<< HEAD
 <body class="container-fluid" id="search-results">
  <form class="landing-search form-inline" action="/index" method="post">
=======
<body class="container-fluid" id="search-results">
  <form class="landing-search form-inline" action="/" method="post">
>>>>>>> ce9843da6e9331531bfe428689b74b4b52763aff
    <div class="form-group">
      <label for="origin">Origin</label>
      <input type="text" name="origin" id="origin" value="{{info.origin}}">
      {{#if info.error.origin}}
      <small class="text-muted"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>{{info.error.origin}}</small>
      {{/if}}
      <label for="destination">Destination</label>
      <input type="text" name="destination" id="destination" value="{{info.destination}}">
      {{#if info.error.destination}}
      <small class="text-muted"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>{{info.error.destination}}</small>
      {{/if}}
      <label for="date">Date</label>
      <input type="date" name="date" value="{{info.date}}">
      {{#if info.error.date}}
      <small class="text-muted"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>{{info.error.date}}</small>
      {{/if}}

      <div class="row input-group">
        <!-- <div class="col-md-6"> -->
        <button type="submit" class="btn btn-primary input-group-addon">Find my ride</button>
        <a href="/trip/advanced" class="input-group-addon">Advanced Search</a>
      </div>
    </div>
  </form>



  {{#if queries.origin}}
  <h3>Trips From: <span>{{queries.origin}}</span>&nbsp;&nbsp;<img src="https://cdn2.iconfinder.com/data/icons/navigation-set-arrows-part-two/32/Double_Arrow_Right-24.png">&nbsp;&nbsp;<span>{{queries.destination}}</span></h3>
  {{else}}
  <h3>Showing all available trips.</h3>
  {{/if}}

  <div class="row">
    {{#each objects}}
    <div class="row trip">
      <span onclick="window.location.href = '/trip/{{id}}';">
        <div class="form-group col-sm-4">
          <img id="profile-pic" class="col-md-6" src="{{profile_pic_url}}">
          <label class="col-md-6 form-control-label">
            <span id="name">{{name_first}} {{name_last}}</span> <br />
            Age: {{age}}<br />
            <!-- Rating: ?<br /> -->
            <a href="/user/{{user_id}}">View Profile</a>
          </label>
          <label class="col-md-12">
            <br />
            {{#if data.isSmoking}}
            <img class="icon" src="/images/smoking.png">
            {{else}}
            <img class="icon" src="/images/no_smoking.png">
            {{/if}}

            {{#if data.isFood}}
            <img class="icon" src="/images/eating.png">
            {{else}}
            <img class="icon" src="/images/no_eating.png">
            {{/if}}

            {{#if data.isPets}}
            <img class="icon" src="/images/pets.png">
            {{else}}
            <img class="icon" src="/images/no_pets.png">
            {{/if}}

            {{#if data.isMusic}}
            <img class="icon" src="/images/music.png">
            {{else}}
            <img class="icon" src="/images/no_music.png">
            {{/if}}

            {{#if data.isTalking}}
            <img class="icon" src="/images/talking.png">
            {{else}}
            <img class="icon" src="/images/no_talking.png">
            {{/if}}
          </label>
        </div>
        <div class="form-group col-sm-6">
          <div class="row">
            <label class="col-md-12">
              <span id="start-end-location">{{start_location}} - {{end_location}}</span><br />
              {{formatDate date_of}} @ {{formatTime date_of}}
            </label>
          </div>
          <br />
          <div class="row">
            <label class="col-md-12">
              <span id="car-description">Car Description:</span> <br>{{car_description}}<br />
              <img id="car-image" src="{{car_img_url}}">
            </label>
          </div>
        </div>

        <div class="form-group col-sm-2">
          <label class="col-md-12">
            <span>${{trip_cost}}</span> per seat<br />
            {{num_seats}} seat(s) left
            <hr>
            {{#if session.user_id}}
            <form method="post" action="/trip/reserve/{{id}}">
              <button type="submit" class="btn btn-default col-sm-12">
                <span class="glyphicon glyphicon-pushpin"></span> Reserve
              </button>
            </form>
            {{else}}
            <form method="get" action="/login">
              <button style="font-size: 10px;" type="submit" class="btn btn-default col-sm-12">
                Login to <br>Reserve
              </button>
            </form>
            {{/if}}
            <br />
            <br />
            <form id="view-button" method="get" action="/trip/{{id}}">
              <button type="submit" class="btn btn-default col-sm-12">
                <span class="glyphicon glyphicon-option-vertical"></span> View
              </button>
            </form>
          </label>
        </div>
      </span>
    </div>

    {{/each}}

  </div>
