

<body class="container-fluid" id="search-results">
  <form class="landing-search form-inline" action="/index" method="post">
    <div class="form-group">
      <label for="origin">Origin</label>
      <input type="text" name="origin" id="origin" value="{{info.origin}}">
      {{#if info.error.origin}}
      <small class="text-muted"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>{{info.error.origin}}</small>
      {{/if}}
      <label for="destination">Destination</label>
      <input type="text" name="destination" id="destination" value="{{info.destination}}">
      {{#if info.error.destination}}
      <small class="text-muted"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>{{info.error.destination}}</small>
      {{/if}}
      <label for="date">Date</label>
      <input type="date" name="date" value="{{info.date}}">
      {{#if info.error.date}}
      <small class="text-muted"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>{{info.error.date}}</small>
      {{/if}}

      <div class="row input-group">
        <!-- <div class="col-md-6"> -->
        <button type="submit" class="btn btn-primary input-group-addon">Find my ride</button>
        <a href="/trip/advanced" class="input-group-addon">Advanced Search</a>
      </div>
    </div>
  </form>



  {{#if queries.origin}}
  <h3>Trips From: <span>{{queries.origin}}</span>&nbsp;&nbsp;<img src="https://cdn2.iconfinder.com/data/icons/navigation-set-arrows-part-two/32/Double_Arrow_Right-24.png">&nbsp;&nbsp;<span>{{queries.destination}}</span></h3>
  {{else}}
  <h3>Showing all available trips.</h3>
  {{/if}}

  <div class="row">
    {{#each objects}}
    <div class="row trip">
      <span onclick="window.location.href = '/trip/{{id}}';">
        <div class="form-group col-sm-4">
          <img id="profile-pic" class="col-md-6" src="{{profile_pic_url}}">
          <label class="col-md-6 form-control-label">
            <span id="name">{{name_first}} {{name_last}}</span> <br />
            Age: {{age}}<br />
            <!-- Rating: ?<br /> -->
            <a href="/user/{{user_id}}">View Profile</a>
          </label>
          <label class="col-md-12">
            <br />
            {{#if isSmoking}}
            <img class="icon" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSHpMOdjrWhTLqIGWzTHCbylToB_7ywe1n-hTiFHWbgOobDGxHUBg">
            {{else}}
            <img class="icon" src="http://www.designofsignage.com/application/symbol/hands/image/600x600/hand-smoking.jpg">
            {{/if}}

            {{#if isFood}}
            <img class="icon" src="http://www.clipartbest.com/cliparts/LiK/kqb/LiKkqbyaT.jpeg">
            {{else}}
            <img class="icon" src="https://image.freepik.com/free-icon/restaurant-eating-tools-set-of-three-pieces_318-61020.png">
            {{/if}}

            {{#if isPets}}
            <img class="icon" src="http://free-icon-download.com/modules/PDdownloads/images/screenshots/free-image-download-no-pets-allowed-sign.png">
            {{else}}
            <img class="icon" src="https://image.freepik.com/free-icon/pet-hotel-sign-with-a-dog-and-a-cat-under-a-roof-line_318-51335.png">
            {{/if}}

            {{#if isMusic}}
            <img class="icon" src="http://previews.123rf.com/images/shadowalice/shadowalice1502/shadowalice150200216/36857840-No-music-icon-great-for-any-use-Vector-EPS10--Stock-Vector.jpg">
            {{else}}
            <img class="icon" src="http://downloadicons.net/sites/default/files/music-icon-61648.png">
            {{/if}}

            {{#if isTalking}}
            <img class="icon" src="https://smalltalkbigresults.files.wordpress.com/2011/03/no_talking1.gif">
            {{else}}
            <img class="icon" src="http://martalozanomolano.com/wordpress/wp-content/uploads/2014/03/iconmonstr-speech-bubble-15-icon.png">
            {{/if}}
          </label>
        </div>
        <div class="form-group col-sm-6">
          <div class="row">
            <label class="col-md-12">
              <span id="start-end-location">{{start_location}} - {{end_location}}</span><br />
              {{formatDate date_of}} @ {{formatTime date_of}}
            </label>
          </div>
          <br />
          <div class="row">
            <label class="col-md-12">
              <span id="car-description">Car Description:</span> <br>{{car_description}}<br />
              <img id="car-image" src="{{car_img_url}}">
            </label>
          </div>
        </div>

        <div class="form-group col-sm-2">
          <label class="col-md-12">
            <span>${{trip_cost}}</span> per seat<br />
            {{num_seats}} seat(s) left
            <hr>
            {{#if session.user_id}}
            <form method="post" action="/trip/reserve/{{id}}">
              <button type="submit" class="btn btn-default col-sm-12">
                <span class="glyphicon glyphicon-pushpin"></span> Reserve
              </button>
            </form>
            {{else}}
            <form method="get" action="/index/login">
              <button style="font-size: 10px;" type="submit" class="btn btn-default col-sm-12">
                Login to <br>Reserve
              </button>
            </form>
            {{/if}}
            <br />
            <br />
            <form id="view-button" method="get" action="/trip/{{id}}">
              <button type="submit" class="btn btn-default col-sm-12">
                <span class="glyphicon glyphicon-option-vertical"></span> View
              </button>
            </form>
          </label>
        </div>
      </span>
    </div>

    {{/each}}

  </div>

  <script type="text/javascript">
  google.load("maps", "3.x", {callback: initialize, other_params:'libraries=places&key=AIzaSyD2gxzAGO1he66elVkh6TLdYXhCYVc3o8E'});
  function initialize() {

    var input = document.getElementById('origin');
    var autocomplete = new google.maps.places.Autocomplete(input, { types: ['(cities)'], region:'US' });

    var inputDest = document.getElementById('destination');
    var autocomplete2 = new google.maps.places.Autocomplete(inputDest, { types: ['(cities)'], region:'US' });

    google.maps.event.addDomListener(window, 'load', initialize);
  }
  </script>
</body>
</html>
