<!-- <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>RideShare</title> -->
  <!-- jQuery 2.2.4 minified -->
  <!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script> -->
  <!-- Latest compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"> -->
  <!-- Latest compiled and minified JavaScript -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>
  .trip-info {
    border: 1px solid #bdbdbd;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
  }

  .flipme {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }


  .bordered {

    border: 2px solid #dedede;
    border-radius: 20px;
    padding: 10px;
    color: white;
    background-color: #c9c9c9;
  }

  .profile {

    border-radius: 50px;
  }
  </style>
</head>

<body class="container-fluid"> -->
<div class="container-fluid" id="showRide">
  <div class="row">
    <div class="form-group col-sm-8">
      <h1>{{data.start_location}} -- {{data.end_location}}</h1>
      <h3>Trip Scheduled For: {{formatDate data.date_of}} @ {{formatTime data.date_of}}</h3><br />
      <h4>Description:<br /><br />
        {{data.details}}</h4>
      </div>
      <div class="form-group col-sm-4">
        <div class="trip-info">{{data.num_seats}} seat(s) available</div><br />
        <div class="trip-info">${{data.trip_cost}} per passenger</div><br />
        {{#if session.user_id}}
        {{#if data.num_seats}}
        <form id="book" action="/trip/reserve/{{data.id}}" method="post"></form>
        <div class="trip-info"><a href="#" onclick="document.getElementById('book').submit();">Book Now!</a></div>
        {{else}}
        <div class="trip-info">Full!</div>
        {{/if}}
        {{else}}
        <div class="trip-info"><a href="/index/login">Login to Book!</a></div>
        {{/if}}
        <br />
        <div class="trip-info">{{passengers}} passenger(s) scheduled on this trip.</div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-12">
        <h4>Trip Preferences</h4>
        {{#if data.isSmoking}}
        <img class="icon" src="/images/smoking.png">
        {{else}}
        <img class="icon" src="/images/no_smoking.png">
        {{/if}}

        {{#if data.isFood}}
        <img class="icon" src="/images/eating.png">
        {{else}}
        <img class="icon" src="/images/no_eating.png">
        {{/if}}

        {{#if data.isPets}}
        <img class="icon" src="/images/pets.png">
        {{else}}
        <img class="icon" src="/images/no_pets.png">
        {{/if}}

        {{#if data.isMusic}}
        <img class="icon" src="/images/music.png">
        {{else}}
        <img class="icon" src="/images/no_music.png">
        {{/if}}

        {{#if data.isTalking}}
        <img class="icon" src="/images/talking.png">
        {{else}}
        <img class="icon" src="/images/no_talking.png">
        {{/if}}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="form-group col-sm-6">
        <img class="col-md-3" src="{{data.profile_pic_url}}">
        <label class="col-md-6 form-control-label">
          {{data.name_first}} {{data.name_last}} <br />
          Rating: {{rating}}/5 Stars<br />
          <a href="/user/{{data.user_id}}">View Profile</a>
        </label>
      </div>
      <div class="form-group col-sm-6">
        <div class="col-sm-6 trip-info">
          {{data.car_description}}
        </div>
        <div class="col-sm-6">
          <img width="50" src="{{data.car_img_url}}">
        </div>
      </div>
    </div>
  </div>
  <!-- </body>
  </html> -->
