<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>RideShare</title>
  <!-- jQuery 2.2.4 minified -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>
  .trip-info {
    border: 1px solid #bdbdbd;
    border-radius: 15px;
    padding: 10px;
  }

  .flipme {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
  </style>
</head>

<body class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      &nbsp;
    </div>
    <div class="col-md-5">
      <div class="row">
        <h2>{{start_location}} --> {{end_location}}</h2>
      </div>
      <div class="row">
        <h4>{{date_of}}</h4>
      </div>
      <div class="row">
        <p>{{details}}</p>
      </div>
    </div>
    <div class="col-md-1">
      <div class="row">
        <h4>{{num_seats}} left</h4>
      </div>
      <div class="row">
        <h4>${{trip_cost}} per passenger</h4>
      </div>
      <div class="row">
        <button type="submit" class="btn btn-primary">Book Now!</button>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-3">
      &nbsp;
    </div>
    <div class="col-md-6">
      <center><h4>Trip Preferences</h4></center>
      <div class='row content' id="preferences">
          <ul>
            <li>
              <div class="entry">
                <!-- if the condition is false -->
                {{#if smoking }}
                  <img width="50" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSHpMOdjrWhTLqIGWzTHCbylToB_7ywe1n-hTiFHWbgOobDGxHUBg">
                {{else}}
                  <img width="50" src="http://www.designofsignage.com/application/symbol/hands/image/600x600/hand-smoking.jpg">
                {{/if}}
              </div>
            </li>

            <li>
              <div class="entry">
                <!-- if the condition is false -->
                {{#if eating }}
                  <img width="50" src="http://www.clipartbest.com/cliparts/LiK/kqb/LiKkqbyaT.jpeg">
                {{else}}
                  <img width="50" src="https://image.freepik.com/free-icon/restaurant-eating-tools-set-of-three-pieces_318-61020.png">
                {{/if}}
              </div>
            </li>

            <li>
              <div class="entry">
                <!-- if the condition is false -->
                {{#if pets }}
                  <img width="50" src="http://free-icon-download.com/modules/PDdownloads/images/screenshots/free-image-download-no-pets-allowed-sign.png">
                {{else}}
                  <img width="50" src="https://image.freepik.com/free-icon/pet-hotel-sign-with-a-dog-and-a-cat-under-a-roof-line_318-51335.png">
                {{/if}}
              </div>
            </li>

            <li>
              <div class="entry">
                <!-- if the condition is false -->
                {{#if music }}
                  <img width="50" src="http://previews.123rf.com/images/shadowalice/shadowalice1502/shadowalice150200216/36857840-No-music-icon-great-for-any-use-Vector-EPS10--Stock-Vector.jpg">
                {{else}}
                  <img width="50" src="http://downloadicons.net/sites/default/files/music-icon-61648.png">
                {{/if}}
              </div>
            </li>

            <li>
              <div class="entry">
                <!-- if the condition is false -->
                {{#if talking }}
                  <img width="50" src="https://smalltalkbigresults.files.wordpress.com/2011/03/no_talking1.gif">
                {{else}}
                  <img width="50" src="http://martalozanomolano.com/wordpress/wp-content/uploads/2014/03/iconmonstr-speech-bubble-15-icon.png">
                {{/if}}
              </div>
            </li>

          </ul>
      </div>
    </div>
  </div>
</body>
</html>
