<div id="show-review-page">

  {{#if name_first}}
  {{#each review}}
  <div class='row content' id="reviews">
    <h2>Reviews for <span>{{ name_first}}</span></h2>
    <div class='col-sm-3'> </div>
    <div class='col-sm-6' id='review-text'>
      <!-- <h3> FIX THIS: {{user.name_first}} {{ user.name_last }} </h3> -->
      <hr>
      <h4> <span>Rating:</span> {{ rating }}/5</h4>
      <h5> {{ formatDate creation_date }} @ {{formatTime creation_date}} </h5>
      <p> {{ comment }} </p>
    </div>
  </div>
  {{/each}}
  {{else}}
    <h3>There are no reviews yet for this user.</h3>
  {{/if}}
</div>
<div id="review-hidden-div"></div>
